<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Quickpolls</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Polls <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/leaderboards">Leaderboards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <% if (user.isAdmin) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            <% } %>
            <li class="nav-item">
                <a href="/users/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="text-align: center;">
    <h1 class="mt-4">Welcome <%= user.name %></h1>
</div>
<br/>
<br/>
<div class="container" style="text-align: center;">
    <button onclick="test()" id='loadpoll' class="btn-lg btn-primary">Take weekly poll</button>
</div>

<br/>
<br/>

<div class="container rounded bordered" id='polls' style="display: none;">
</div>

<div class="container" id='thankyou' style="display: none; text-align: center;">
    <h3>Thank you. Your response has been recorded (not really)</h3>
</div>



<script>
    function test(){
        $('#loadpoll').hide(); 
        $('#polls').show(); 
        loadpolldiv('Question 1', 'YES', 'NO', 1, false, true);
        loadpolldiv('Question 2', 'YES', 'NO', 2, false, false);
        loadpolldiv('Question 3', 'YES', 'NO', 3, true, false);
    }

    const polls = document.getElementById('polls'); 
    function loadpolldiv(name, op1, op2, number, islast, isFirst){
        let div = document.createElement('div'); 
        div.setAttribute('class', 'container pollquestion'); 
        div.setAttribute('style', 'text-align: center; margin-top: 20px; margin-bottom: 20px'); 
        if(!isFirst){
            div.style.display = 'none'; 
        }
        div.id = number.toString(); 
        title = document.createElement('h3'); 
        title.innerHTML = name; 
        div.appendChild(title); 
        div.appendChild(document.createElement('br')); 
        let btn1 = document.createElement('btn'); 
        btn1.setAttribute('class', 'btn btn-lg btn-success'); 
        btn1.innerHTML = op1;
        let btn2 = document.createElement('btn'); 
        btn2.setAttribute('class', 'btn btn-lg btn-danger'); 
        btn2.innerHTML = op2;  
        if(!islast){
            btn1.onclick = function(){
                $(".pollquestion").hide();
                document.getElementById((number+1).toString()).style.display='block';
            }
            btn2.onclick = function(){
                $(".pollquestion").hide();
                document.getElementById((number+1).toString()).style.display='block';
            }
        }else{
            btn1.onclick = function(){
                $("#polls").hide();
                $('#thankyou').show(); 
            }
            btn2.onclick = function(){
                $("#polls").hide();
                $('#thankyou').show(); 
            }
        }
        div.appendChild(btn1);  
        div.appendChild(btn2); 
        polls.appendChild(div);         
    }

</script>