<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset='utf-8'>
    <title>Quickpolls</title>
    <style>
        body {
            background-color: #565656;
        }
    </style>
</head>

<body>
    <h1><%= title %></h1>
    <%= users %>




    <script>

    </script>
</body>

</html>